
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth !important;
  }
  
  
  html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
  }
  